<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <div class="user-info">
        <div class="profile-image">
          <%= image_tag tweet.profile_image, class: "rounded-circle", style: "width: 40px; height: 40px;" %>
        </div>
        <div class="user-details">
          <p class="username"><%= tweet.username %></p>
        </div>
      </div>
      <div class="tweet-content">
        <p><%= tweet.description %></p>
      </div>
    </div>
  <% end %>
</div>

<%= form_tag(tweets_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
  <%= text_field_tag(:search, params[:search], class: "form-control mr-sm-2", placeholder: "Buscar tweets") %>
  <%= submit_tag("Buscar", class: "btn btn-outline-success my-2 my-sm-0") %>
<% end %>

<%= link_to "New tweet", new_tweet_path %>

<%= will_paginate @tweets %>

